.texto-card{
    background-color: hsla(216, 98%, 52%, 0.05);
    color:#0d6efd;
    border: solid 1px #0d6efd;
}

/* Bootstrap inputs with minimum height of 48px */
.form-control,
.form-select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea {
    min-height: 48px;
}

/* Bootstrap buttons with minimum height of 56px */
.btn,
button {
    min-height: 48px;
}
.form-label{
    font-size: 14px;
    font-weight: 500;
}